<body>
<div class="container mt-5">
    <h1 class="text-center" style="color:#14274E" >สถานที่ท่องเที่ยวในจังหวัดชัยภูมิ</h1>
    <div class="row mt-5 text-center">
        <div class="col-md-4 mb-5">
            <div class="card mx-auto" style="width: 25rem;">
                <a href="#">
                    <img src="assets/pin/chai2.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">ทุ่งดอกดาวเรืองวิวกังหันลม</h5>
                    <p class="card-text">ทุ่งดอกดาวเรืองวิวกังหันลม จุดชมวิว จุดถ่ายรูปแห่งใหม่ ดอกดาวเรืองสีเหลืองอร่ามไกลสุดตา มีวิวด้านหลังเป็นกังหันลม ทุ่งดอกดาวเรือง เป็นพื้นที่ของชาวบ้านที่ปลูกดอกดาวเรืองเพื่อจำหน่าย และตอนนี้ได้เปิดให้นักท่องเที่ยวได้เข้าไปชม ไปถ่ายรูปได้ โดยไม่มีค่าใช้จ่าย แต่สามารถบริจาคเป็นค่าสถานที่ได้ และขอความร่วมมือ ไม่เด็ดหรือเหยียบย่ำทำลายดอกไม้ของชาวบ้านด้วย</p>
                    <a href="" class="btn btn-primary">ข้อมูลเพิ่มเติม</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5"> 
            <div class="card mx-auto" style="width: 25rem;">
                <a href="#">
                    <img src="assets/pin/chai3.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">ลานหินหน่อ</h5>
                    <p class="card-text">ลานหินหน่อ เป็นลานหินบนพื้นราบ มีปุ่มหินสูง 1-2 เมตร ลักษณะคล้ายเสาหินและกำแพงหินกระจายอยู่ทั่วไป พื้นที่ประมาณ 200 ไร่</p>
                    <a href="" class="btn btn-primary">ข้อมูลเพิ่มเติม</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card mx-auto" style="width: 25rem;">
                <a href="#">
                    <img src="assets/pin/chai4.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">ลานหินงาม</h5>
                    <p class="card-text">ลานหินงามเป็นอีกจุดที่อยู่ใน “อุทยานแห่งชาติป่าหินงาม” มีหินแปลกตาที่เกิดจาการกัดเซาะเนื้อดิน และหินที่เบาบางหลุดออกไป จึงทำให้เกิดหินหน้าตาแปลกๆ แต่สวยงาม เช่น หินเรดาห์ หินถ้วยฟีฟ่า หินช้างเอราวัณ และหินต่างๆ ตามจิตนาการของผู้พบเห็น</p>
                    <a href="" class="btn btn-primary">ข้อมูลเพิ่มเติม</a>
                </div>
            </div>
        </div>
    </div>
</div>