<div class="container mt-4">
  <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
  <div class="row mt-4 text-center">
      <div class="col">
          <div class="card mx-auto" style="width: 18.9rem;">
              <img src="assets/teams/team1.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">นายกันนวัฒน์ กล้ามสันเทียะ</h5>
                  <p class="card-text">ปวส.1/5</p>
                  <a href="#" class="btn btn-primary">โอม</a>
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mx-auto" style="width: 18.9rem;">
              <img src="assets/teams/team2.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">นางสาวทัชศรา ปั้นสนธิ</h5>
                  <p class="card-text">ปวส.1/5</p>
                  <a href="#" class="btn btn-primary">ขิง</a>
              </div>
          </div>
      </div>

